<div class="back-btn">
  <button mat-icon-button class="second-btn" routerLink="/Tests">Back</button>
</div>

<div class="section-title mt-50">
  <h3>Add Test</h3>
</div>
<!-- section title -->

<div class="stepper container">
  <mat-stepper labelPosition="end" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Add Test</ng-template>

        <mat-form-field class="col-lg-12">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" />
          <mat-error>title is necessary</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-12">
          <mat-label>Creation Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            placeholder="Creation date"
            formControlName="creationDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>Creation Date is necessary</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-12">
          <mat-label>Type</mat-label>
          <mat-select placeholder="type" formControlName="type">
            <mat-option value="Technique"> Technique </mat-option>
            <mat-option value="Rh"> Rh </mat-option>
          </mat-select>
          <mat-error>type is necessary</mat-error>
        </mat-form-field>

        <div class="first-form-btn">
          <button class="main-btn" mat-button (click)="AddTest()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Add question</ng-template>

        <mat-form-field class="col-lg-12">
          <mat-label>questionLabel</mat-label>
          <input
            matInput
            formControlName="questionLabel"
            placeholder="Question label"
          />
          <mat-error>label is necessary</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-5">
          <mat-label>score</mat-label>
          <input
            matInput
            type="number"
            formControlName="score"
            placeholder="Score"
            value="10"
            min="10"
          />
          <span matSuffix>points</span>
          <mat-error>score is necessary ! At least 10 points</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-5">
          <mat-label>Time </mat-label>
          <input
            matInput
            type="number"
            formControlName="time"
            placeholder="Time"
            value="1"
            min="1"
          />
          <span matSuffix>minutes</span>
          <mat-error>Time is necessary ! At least 1 minute</mat-error>
        </mat-form-field>

        <mat-form-field class="text-area col-lg-5">
          <textarea
            matInput
            placeholder="Correct answers"
            formControlName="correctResponses"
          ></textarea>
          <mat-error>Correct answers is necessary</mat-error>
        </mat-form-field>

        <mat-form-field class="text-area col-lg-5">
          <textarea
            matInput
            placeholder="False answers"
            formControlName="falseResponses"
          ></textarea>
          <mat-error>false answers is necessary</mat-error>
        </mat-form-field>
        <div class="first-add-btn">
          <!--<button class="add-btn" mat-button (click)="AddQuestion()"
              matTooltip="please completet all the empty fields"
              [matTooltipDisabled]="secondFormGroup.valid">
              Add</button>-->
        </div>

        <form [formGroup]="newFormGroup">
          <div formArrayName="questions">
            <div
              *ngFor="let question of Questions().controls; let i = index"
              [formGroupName]="i"
            >
              <h5 class="question">New question</h5>
              <mat-form-field class="col-lg-12">
                <mat-label>questionLabel</mat-label>
                <input
                  matInput
                  formControlName="questionLabel"
                  placeholder="Question label"
                />
                <mat-error>label is necessary</mat-error>
              </mat-form-field>

              <mat-form-field class="col-lg-5">
                <mat-label>score</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="score"
                  placeholder="Score"
                  value="10"
                  min="10"
                />
                <span matSuffix>points</span>
                <mat-error>score is necessary ! At least 10 points</mat-error>
              </mat-form-field>

              <mat-form-field class="col-lg-5">
                <mat-label>Time </mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="time"
                  placeholder="Time"
                  value="1"
                  min="1"
                />
                <span matSuffix>minutes</span>
                <mat-error>Time is necessary ! At least 1 minute</mat-error>
              </mat-form-field>

              <mat-form-field class="text-area col-lg-5">
                <textarea
                  matInput
                  placeholder="Correct answers"
                  formControlName="correctResponses"
                ></textarea>
                <mat-error>Correct answers is necessary</mat-error>
              </mat-form-field>

              <mat-form-field class="text-area col-lg-5">
                <textarea
                  matInput
                  placeholder="False answers"
                  formControlName="falseResponses"
                ></textarea>
                <mat-error>false answers is necessary</mat-error>
              </mat-form-field>
              <div class="question-btn">
                <button class="remove-btn" (click)="removeQuestion(i)">
                  remove
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="second-form-btn">
          <button
            class="add-btn"
            mat-button
            (click)="AddAll()"
            matTooltip="please completet all the empty fields"
            [matTooltipDisabled]="secondFormGroup.valid && newFormGroup.valid"
          >
            Add All
          </button>
          <button class="second-btn" (click)="addMore()">Add More</button>
          <button class="second-btn" mat-button matStepperPrevious>Back</button>
          <button class="second-btn" (click)="Finish()">Show All</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="stepper-container">
        <div *ngFor="let q of questions">
          <mat-card class="question-card row">
            <div class="row">
              <div class="col-lg-11 col-md-10 col-sm-9">
                <label id="example-radio-group-label"
                  ><b>{{ q.questionLabel }}</b></label
                >
              </div>
              <div class="col-lg-1 col-md-2 col-sm-3">
                <button
                  mat-icon-button
                  (click)="DeleteQuestion(q.questionId)"
                  class="delete-btn"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>

            <div class="col-lg-6 col-md-2 col-sm-2">
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
              >
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let c of q.correctResponses"
                  [value]="c"
                >
                  {{ c }}
                </mat-radio-button>
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let f of q.falseResponses"
                  [value]="f"
                >
                  {{ f }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="input-display col-lg-6 col-md-8 col-sm-5">
              <mat-form-field class="col-lg-5 col-md-5 col-sm-3">
                <input
                  matInput
                  placeholder="score"
                  value="{{ q.score }}"
                  [readonly]="true"
                />
                <span matSuffix>points</span>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 col-sm-3">
                <input
                  matInput
                  placeholder="Time"
                  value="{{ q.time }}"
                  [readonly]="true"
                />
                <span matSuffix>minutes</span>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="third-form-btn">
        <button class="second-btn" mat-button matStepperPrevious>Back</button>
        <button class="main-btn" mat-button mat-dialog-close>Done</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
