<div class="participants">
  <mat-list>
    <div mat-subheader class="style-div">Teacher</div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{ folder.name }}</div>
      <div style="margin-right: 350px">
        <mat-icon mat-list-icon>email</mat-icon>
      </div>
    </mat-list-item>

    <mat-divider style="width: 560px"></mat-divider>
    <br />

    <div mat-subheader class="style-div">Students</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{ note.name }}</div>
      <div style="margin-right: 350px">
        <mat-icon mat-list-icon>email</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
