<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <mat-icon (click)="isExpanded = !isExpanded"> menu </mat-icon>
    <img
      src="../../../../../../assets/images_courzelo_classroom/logoclass.jpg"
      class="img-fluid logo_trainer rounded"
      alt="courzelo_logo"
    />
    <nav
      style="margin-left: 200px"
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="pluss">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="basic"
            class="plus"
            style="margin-left: 2443px"
            aria-label="Example icon button with a plus one icon"
          >
            <a (click)="AddcoursesDialog()"
              ><mat-icon class="plus">add</mat-icon></a
            >
          </button>
        </div>
        <div>
          <img
            src="../../../../../../assets/images_courzelo_classroom/all-icon/profil.png"
            style="width: 40px; height: 40px; margin-left: 1210px"
            alt="News"
          />
        </div>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container mat-typography" autosize>
  <mat-sidenav #sidenav="matSidenav">
    <mat-nav-list>
      <mat-list-item routerLink=""> </mat-list-item>
      <mat-list-item routerLink="/coursestrainer">
        <mat-icon matListIcon class="icon-logo">business</mat-icon>
        <h4 matLine *ngIf="isExpanded">Courses</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div>
        <mat-list-item routerLink="#">
          <mat-icon matListIcon class="icon-logo">assignment</mat-icon>
          <h4 matLine *ngIf="isExpanded">to correct</h4>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>

      <mat-list-item routerLink="/archivedcoursestrainer">
        <mat-icon matListIcon class="icon-logo">import_contacts</mat-icon>
        <h4 matLine *ngIf="isExpanded">Archived Courses</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/trainer/cal">
        <mat-icon matListIcon class="icon-logo">calendar_today</mat-icon>
        <h4 matLine *ngIf="isExpanded">Calendar</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <br />

   

    <form>
      <label for="search">Search</label>
      <input id="search" type="search" pattern=".*\S.*" required>
      <span class="caret"></span>
    </form>

    <section id="course-part" class="pt-50 pb-50">
      <div class="container">
        <div class="row" style="margin-bottom: -20px">
          <div class="col-lg-6">
            <div class="section-title pb-45">
              <h2 style="font-size: 30px">Courses</h2>

            
              
            </div>
            <!-- section title -->
          </div>
        </div>
        <!-- row -->
        <br />
        <div class="container">
          <div class="row" style="margin-left: -90px; margin-right: -99px">
            <div class="col-lg-3 col-sm-6" *ngFor="let i of formation">
              <div class="card hovercard">
                <div class="cardheader">
                  <div class="sd">
                  
                  </div>
                </div>

                <br />

                <a
                      routerLink="/trainer/classworktrainer"
                      (click)="getIdFormation(i.id)"
                    >
                      <h1 class="sousTitre">{{ i.coursename }}</h1></a
                    >
              </div>
            </div>
          </div>
        </div>

        <!-- course slied -->
      </div>
      <!-- container -->
    </section>

    <div class="container">

      <div>
        <div class="p-2 bd-highlight">
          <select (change)="($event)" class="custom-select">
            <option *ngFor="let size of tableSizesArr" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    
      
    
      <div class="d-flex justify-content-center">
        <pagination-controls  previousLabel="Prev" nextLabel="Next" (pageChange)="($event)">
        </pagination-controls>
      </div>
    
    </div>
  

  </mat-sidenav-content>
</mat-sidenav-container>
